@import '../../index.scss';

.input-container {
  width: 100%;
  position: relative;
  margin-top: 15px;
}

.input {
  height: $default-input-height;
  width: $default-input-width;
  border-radius: $default-border-radius;
  border: 1px solid transparent;
  font-size: $default-font-size;
  font-family: $default-font-family;
  padding: $default-input-padding;
  box-sizing: border-box;

  &:focus {
    border: 1px solid $primary-color;
    outline: none;
  }

  &.input-error{border: 1px solid $error-color;}
  &.icon-right {padding-right: 32px;}
  &.icon-left {padding-left: 32px;}
}

.label {
  font-family: $default-font-family;
  font-size: 12px;
  padding-left: 10px;
  transition: all 200ms;
  transition-property: font-size, top, padding-left;

  &.top-label {
    position: absolute;
    font-size: 12px;
    top: -14px;

    &.icon-left-label {
      padding-left: 32px;
    }
  }

  &.center-label {
    font-size: 16px;
    position: absolute;
    top: 11px;

    &.icon-left-label {
      padding-left: 32px;
    }
  }
}

.icon-container {
  height: 25px;
  width: 25px;
  display: grid;
  place-content: center;
  position: absolute;
  bottom: 8px;

  img {width: 100%;}
  svg {width: 100%;}
  &.left {left: 5px;}
  &.right {right: 5px;}
  &:hover {cursor: pointer;}
}

.error-label {
  font-family: $default-font-family;
  color: $error-color;
  font-size: 12px;
  padding-left: 10px;
}