// FONT
$default-font-family: Roboto, sans-serif;
$default-font-weight: 100;
$default-font-size: 16px;

// COLORS
$primary-color: #ffd500;
$error-color: #f13e3e;
$font-color: #353535;

// COMMONS
$disabled-opacity: 0.6;
$default-border-radius: 5px;

// BUTTON
$default-button-height: 40px;
$default-button-width: 100%;
$default-button-padding: 10px;

// INPUT
$default-input-height: 40px;
$default-input-width: 100%;
$default-input-padding: 0 0 0 10px;