// FONT
$default-font-family: Roboto, sans-serif;
$default-font-weight: bold;
$default-font-size: 16px;

// COLORS
$primary-color: #ffd500;
$active-color: #d4b101;
$font-color: #353535;

// COMMONS
$disabled-opacity: 0.6;
$default-border-radius: 10px;

// BUTTON
$default-button-height: 40px;
$default-button-width: 100px;
$default-button-padding: 10px;